@import "param/color";
@import "icomoon";
@import "param/button";

*{
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
  outline: none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 20px;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  font: 1.6rem/2.2rem MozTT, sans-serif;
  background: #F4F2F2;
}

p{
  margin: 1rem;
}

img{
	max-width: 100%;
}

header {
  position: relative;
  z-index: 10;
  padding: 0.8em 5% 0.6rem 5%;
  //height: 5rem;
  color: #fff;
  background: $header-bg;
  background-size: auto 100%;
  border: none;
  menu{
  	margin: 0;
  	position: absolute;
  	padding: 0;
  	right: 0;
  	top: 0;
  	button{
  		padding: 0;
  		width: auto;
  	}
  }
  h1{
  	//line-height: 5rem;
  	//margin: 0 4rem;
    margin: 0;
  	text-align: center;

  	img{
  		max-width: 50%;
  	}
  }
  button{
  	background: transparent;
  	line-height: 5rem;
  	margin: 0;
  	border-width: 0;
  }
  .menu-toggle{
    display: inline-block;
  	right: 0;
  	position: absolute;
  	top: 0;
  	width: auto;
    height: 100%;
    font-size: 2.8rem;
    color: #314D54;
    background: none;
    border: none;

    &:after {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    &:hover, &:active {
      background: #89C4D3;
    }
  }

}

#main {
  padding: 0 5%;
}

.full-list {
  ul {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #E0D9D9;

    li {
      display: inline-block;
      padding: 0;

      &.pic {
        position: relative;
        width: 100%;
        vertical-align: top;

        .status {
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          padding: 0.7rem 0.6rem;
          border-radius: 0.2rem;
          font-size: 1.5rem;
          font-weight: bold;
          color: white;

          &.status-1 {
            background: $status-1;
          }

          &.status-2 {
            background: $status-2;
          }

          &.status-3 {
            background: $status-3;
          }

          &.status-4 {
            background: $status-7;
          }
        }
      }

      &.info {
        padding-top: 20px;
        width: 100%;
        

        a .title {
            margin-bottom: 1rem;
            font-size: 2rem;
            color: $main-text !important;
        text-decoration: none !important;
        }

        a .desc {
          font-size: 1rem;
          color: $main-text !important;
        text-decoration: none !important;
        }
      }
    }
  }
}

.pager{
  @extend .group;
  a{
    color: white;
    display: inline-block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 35%
  }
  .prev{
    background: lighten($link-color, 20%);
    float: left;
  }
  .next{
    background: $link-color;
    float: right;
  }
  span{
    display: inline-block;
    padding: 1em;
    text-align: center;
    width: 28%;
  }
}


// report details

.images-holder{
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
    float: left;
    margin: 0;
    padding: 0.2em;
    width: 50%;
  }
}

