<h2>{{ 'LIST_VIEW' | translate }}</h2>

<!-- <div class="full-list"> -->

	<!-- <div ng-repeat="report in data.podnety"> -->
	<!-- 	<a ng-href="#/report/{{report.id}}"> -->
<!-- 			<ul>
				<li class="pic">
					<a ng-href="#/report/{{report.id}}"><img ng-src="http://sandbox.odkazprestarostu.sk/{{report.image}}" alt=""></a>
					<div class="status status-{{report.status_id}}">{{report.status_slovom}}</div>
				</li><li class="info">
				<h3 class="title"><a ng-href="#/report/{{report.id}}">{{report.nadpis}}</a></h3>
				<div class="dec">{{report.popis}}</div>
				</li>
			</ul> -->
		<!-- </a> -->
	<!-- </div>
</div> -->
<!-- 
<div class="pager">
	<a ng-href="#/city/{{cityId}}&page={{page - 1}}" ng-show="{{page - 1}} > 0" class="prev">{{'PREVIOUS' | translate}}</a>
	<span class="totalPage">	
	 {{page}} / {{totalPage}}</span>
	<a ng-href="#/city/{{cityId}}&page={{page + 1}}" ng-show="page != totalPage" class="next">{{'NEXT' | translate}}</a>
</div> -->