<h2>{{ 'LIST_VIEW' | translate }}</h2>

<div class="full-list">
	<div ng-repeat="report in list">
		<a ng-href="#/list/{{report.id}}">
			<ul>
				<li class="pic">
					<img ng-src="http://www.sandbox.odkazprestarostu.sk/{{report.image}}" alt="">
					<div class="status status-{{report.status_id}}"></div>
				</li><li class="info">
				<div class="title">{{report.nadpis}}</div>
				<div class="dec">{{report.popis}}</div>
				<a ng-href="#/maps">térkép</a>
				</li>
			</ul>
		</a>
	</div>
</div>
